@import "tailwindcss";

:root {
  --background: #f0fbff;
  --foreground: #0f172a; /* slate-900 for good readability */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  
  /* Custom theme colors */
  --color-blue-main: #f0fbff;
  --color-blue-surface: #e0f4f9;
  --color-blue-primary: #009eb5;
  --color-cyan-accent: #00dff2;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

